argon2-cffi @ file:///D:/bld/argon2-cffi_1605217285838/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blis==0.7.4
catalogue==2.0.4
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1625835469330/work
chardet==4.0.0
click==7.1.2
cobble==0.1.3
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
contextvars==2.4
cymem==2.0.5
dataclasses==0.8
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docx2txt==0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.1.0/en_core_web_trf-3.1.0-py3-none-any.whl
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.0.12
huggingface-hub==0.0.8
idna==2.10
immutables==0.15
importlib-metadata @ file:///D:/bld/importlib-metadata_1625463907902/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi==0.17.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
joblib==1.0.1
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213536848/work
mammoth==1.4.16
MarkupSafe @ file:///D:/bld/markupsafe_1621455827344/work
mistune @ file:///D:/bld/mistune_1624941451963/work
murmurhash==1.0.5
nbconvert==5.6.0
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nltk==3.6.2
notebook @ file:///D:/bld/notebook_1616419531260/work
numpy==1.19.5
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==1.1.5
pandocfilters==1.4.2
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pathy==0.6.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
preshed==3.0.5
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic==1.8.2
Pygments @ file:///tmp/build/80754af9/pygments_1621606182707/work
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent @ file:///D:/bld/pyrsistent_1610146967272/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz==2021.1
pywin32==227
pywinpty==0.5.7
pyzmq==20.0.0
regex==2021.7.6
requests==2.25.1
sacremoses==0.0.45
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1624366715919/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.1.0
soupsieve==2.2.1
spacy==3.1.0
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-transformers==1.0.3
srsly==2.4.1
terminado==0.9.4
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
thinc==8.0.7
tokenizers==0.10.3
torch==1.9.0
tornado @ file:///C:/ci/tornado_1606942379977/work
tqdm==4.61.2
traitlets==4.3.3
transformers==4.6.1
typer==0.3.2
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
urllib3==1.26.6
wasabi==0.8.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work